@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-arabic: "Cairo", sans-serif;
  --font-amiri: "Amiri", serif;
}

body {
  font-family: "Cairo", sans-serif;
}
